.link {
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 1rem 2rem;
  font-size: 2.4rem;
  margin-top: 3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: 700;

  --color-hover: rgb(255 255 255 / 0.7);
}

.link:hover {
  background: var(--color-hover);
  border-color: var(--color-hover);
}

.link:hover span {
  background: linear-gradient(45deg, #03657D, #081c21);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}